{% extends 'base.html' %}
{% block content %}
    <ul>
        {% for stock in stock_movement %}
                <div>
                
                    <li>
                        cantidad: {{stock.cantidad}}<br>
                        tipo: {{stock.tipo}}<br>
                        fecha: {{stock.fecha}}<br>
                        proveedor: {{stock.proveedor}}<br>
                        producto: {{stock.producto}}<br>
                    </li>
            
               </div>
            <br>
        {% endfor %}
    </ul>
{% endblock %}