{% extends 'base.html' %}
{% block content %}
    <ul>
        {% for stock in stock_movement %}
                <div class="bg-gray-100 mb-1 rounded shadow border border-gray-900 text-blue-600 ml-2">
                    <li>
                        <p class="ml-2">cantidad: {{stock.cantidad}}</p>
                        <p class="ml-2">tipo: {{stock.tipo}}</p>
                        <p class="ml-2">fecha: {{stock.fecha}}</p>
                        <p class="ml-2">proveedor: {{stock.proveedor}}</p>
                        <p class="ml-2">producto: {{stock.producto}}</p>
                    </li>
               </div>
        {% endfor %}
    </ul>
{% endblock %}