{% extends 'base.html' %}

{% block title %}filtro por proveedores{%endblock %}

{% block content %}
<h1 class="bg-sky-300 mb-6 font-bolt">lista de productos por proveedor<h1>
    <ul>
        <div class="p-1 font-bold space-y-1">
            {% for producto in productos %}
                <li class="bg-sky-300 rounded shadow border border-gray-900">
                    <p>nombre: {{producto.nombre}}</p>
                    <p>precio: {{producto.precio}}</p>
                    <p>stock_actual: {{producto.stock_actual}}</p>
                    <br>
                    <br>
                    {% if producto.stock_actual <= producto.stock_minimo %}
                        <p>stock minimo{{producto.stock_actual}}ALERTA DE STOCK MINIMO</p>
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </ul>

{% endblock %}