{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for proveedor in suplier %}
            <div>
                <li>
                    nombre: {{proveedor.nombre}}<br>
                    documento: {{proveedor.documento}}<br>
                    nombre_contacto: {{proveedor.nombre_contacto}}<br>
                    telefono: {{proveedor.telefono}}<br>
                    correo: {{proveedor.correo}}<br>
                    pagina_pedidos: {{proveedor.pagina_pedidos}}<br>
                </li>
            </div>
            <a href="{% url 'update_suplier' proveedor.id %}">
                Editar proveedor
            </a>

            <a href="{% url 'delete_suplier' proveedor.id %}">
                Eliminar proveedor
            </a>
            <br>
            <br>

        {% endfor %}
    </ul>
{% endblock %}
