{% extends 'base.html' %}

{% block content %}
<h1 class="mb-6 font-bold bg-sky-300">Categorias</h1>
    <ul>
        {% for category in categoria  %}
             <div class="producto-card">
                 <li class="bg-white p-4 rounded shadow border border-gray-700">
                    <a href="{% url 'filter_for_category' category.id %}" class="block bg-gray p-4 rounded shadow border border-gray-700 hover:bg-gray-200 hover:text-red-700 font-bold">
                        Nombre: {{ category.nombre }}
                    </a> 
                </li>
                 <br>
             </div>
        {% endfor %}
    </ul>
    

{% endblock %}