{% extends 'base.html' %}

{% block content %}
<h1 class="text-3x1 mb-6 font-bold">Lista de Categorias</h1>
    <ul class="space-y-2">
        {% for category in categorys %}
            
            <div class="space-y-3 space-x-3 bg-white p-4 rounded shadow border border:gray-700 hover:bg-gray-200 text-blue-700 font-bold">
                <li class="bg-gray-200 p-1 rounded shadow border border-gray-700 hover:text-red-500 font-bold">
                    nombre: {{category.nombre}} <br>
                    <br>
                    <br>
                </li>
                <a href="{% url 'update_category' category.id %}">
                    <button type="submit" class="text-sky-800 bg-blue-300 p-4 rounded shadow border border-gray-700 hover:bg-gray-600 hover:text-white">
                        Editar
                    </button>
                </a>
                <a href="{% url 'delete_category' category.id %}">
                    <button type="submit" class="bg-gray-400 p-4 rounded shadow border border-gray-700 hover:bg-red-900 hover:text-red-100">Eliminar</button>
                </a>
            </div>
        {% endfor %}
    </ul>
    

{% endblock %}