{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for category in categorys %}
            
            <div>
                <li>nombre: {{category.nombre}} <br>

                    <a href="{% url 'update_category' category.id %}">
                        Editar
                    </a>

                    <a href="{% url 'delete_category' category.id %}">
                        Eliminar
                    </a>
                    <br>
                    <br>
                </li>
            </div>
        {% endfor %}
    </ul>

{% endblock %}